* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}
/* Banner Style */
.banner {
  background-image: url("/images/banner/banner3.png");
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.banner-content {
  width: 525px;
  height: 228px;

  padding-left: 1200px;
  padding-top: 216px;
  padding-right: 230px;
  padding-bottom: 364px;
  text-align: right;
}

.banner-title {
  font-size: 64px;
  color: #f9f9f9;
}
.banner-sub-title {
  font-size: 16px;
  color: #ffffff;
}
.button {
  height: 64px;
  width: 160px;
  border-radius: 10px;
  background-color: #ffffff;
  color: #005fac;
  font-size: 20px;
  font-weight: 200;
  padding: 15px 20px 20px 20px;
}
/* failure section style */
.failure {
  margin: 50px auto 50px;
  
  display: flex;
  gap: 87px;
  width: 1087px;
  height: 723px;
}
.failure h2 {
  font-size: 40px;
  line-height: 50px;
}
.p {
  padding-top: 10px;
  line-height: 25px;
}
.failure-text {
  padding-top: 237px;
}
.failure-check {
  line-height: 30px;
}
/* My plan styles */
.my-plan {
  
  margin: 100px auto 50px;
  text-align: center;
  width: 1141px;
  height: 202px;

}
.plans {
  margin: 40px auto 50px;
  font-weight: 900;
  display: flex;
  justify-content: space-around;
}
.title {
  font-size: 25px;
  font-weight: bold;
}
.sub-title {
  color: #737272;
  padding: 10px;
  font-size: 18px;
}
/* focus section */
.focus {
    display: flex;
    gap: 40px;
    justify-content: space-evenly;
    margin-top: 100px;
    padding: 100px 100px;
    line-height: 40px;
    font-size: 20px;
  }
/* gradiant image */
.gradiant {
  background-blend-mode: overlay;

  width: 1140px;
  margin: 40px auto 40px;
  padding: 40px ;
  background-image: url("/images/watch.png"), url("/images/gradient1.png");
  background-repeat: no-repeat;

  height: 300px;
}
.gradiant h2 {
  width: 459px;
  margin-bottom: 20px;
  font-size: 30px;
  color: #ffffff;
}
.gr-text {
  width: 500px;
  padding-right: 900px;
}


/* footer */
.footer {
  height: 577px;
  width: 2000px;
  margin: 20px auto 20px;
  display: flex;
  
  gap: 350px;
  color: #ffffff;
  background-color: black;
}
.ft1 {
  width: 485px;
  height: 317px;
  margin-left: 230px;
  margin-top: 130px;
  line-height: ;
}
.ft2 {
  width: 325px;
  height: 204px;
  margin-top: 130px;
}
.button2 {
  height: 64px;
  width: 160px;
  border-radius: 10px;
  background-color: #005fac;
  color: #ffffff;
  font-size: 20px;
  font-weight: 200;
  padding: 15px 20px 20px 20px;
}
#mail {
  width: 150px;
  height: 30px;
  padding: 21px 158px 22px 21px;
  border: 1px solid #f9f9f9;
  background-color: black;
  border-radius: 10px;
  font-size: 18px;
  color: #f9f9f9;
}
